@import './src/common/styles/variables';


.footerBlock {
  position: absolute;
  top: 35%;
  left: 25%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: $textColor;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 30vh;
  border-radius: 20px;

  .footerContainer {


    .content {

      .table {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #726868;
        @media screen and (max-width: 500px) {
          justify-content: center;
        }

        .divTel {
          padding: 5px;
          border-radius: 10px;
          background-color: lightgrey;
          width: 20vh;
          margin: 26px;

          .icon {
            width: 17px;
          }

          .divs {
          }
        }
      }
    }
  }
}







