@import './src/common/styles/variables';

.headerBlock {
  width: 100%;
  height: 70px;
  opacity: 70%;
  background-color: #1f1f21;
  position: fixed;
  color: $primaryColor;
  font-size: 25px;
  padding: 30px;
  z-index: 99;
}